@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100%;
}
header {
  background-color: rgba(41, 74, 124, 0.72);
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
  padding: 20px 0;
}

nav ul {
  float: right;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  padding: 16px 16px;
  display: block;
}

nav ul li a:hover {
  background-color: #91bafe;
}

nav ul li ul {
  position: absolute;
  display: none;
  /* background-color: #afc6ec; */
  background-color: rgba(41, 74, 124, 0.72);
  border-radius: 0 0 5px 5px;
}

nav ul li:hover ul {
  display: block;
  z-index: 5;
}

nav ul li ul li {
  line-height: 1;
  width: 200px;
  border-radius: 5px;
  padding: 6px;
}

nav ul li ul li a {
  padding: 10px 16px;
  font-weight: 400;
  font-size: 16px;
}

nav ul li ul li a:hover {
  background-color: #91bafe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ////////////////////////////////// */

.nav__right {
  display: flex;
  position: fixed;
  right: 0;
  padding-top: 175px;
}

.nav__items {
  background-color: #afc6ec;
  padding: 18px;
}

.nav__items:hover {
  position: relative;
  background-color: #91bafe;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15), -3px -3px 4px rgba(0, 0, 0, 0.15);
  transition: 0.2s all;
}

.nav__item {
  width: 34px;
  height: 34px;
}

/* Search */
.search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  transition: 0.5s;
}

.search:hover {
  width: 240px;
}

.search input {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  padding: 10px 25px;
  outline: none;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  background: #91bafe;
  border-radius: 30px;
  background: linear-gradient(90deg, #afc6ec, transparent) #91bafe;
}

.btn-search {
  position: absolute;
  right: 0px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

/* ////////////////////////////////// */
.main {
  padding-top: 34px;
}

/* Home Content */
.home {
  width: 1200px;
  height: 500px;
  color: #fff;
}

.home__info {
  position: absolute;
  padding-top: 132px;
  padding-left: 68px;
}

.home__title {
  font-size: 50px;
  font-weight: 800;
  max-width: 482px;
  line-height: 60px;
  padding-bottom: 22px;
}

.home__text {
  max-width: 458px;
  font-size: 20;
  font-weight: 400;
  line-height: 24px;
}

/* Tools */

.tools {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}

.content__tool {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 156px;
  height: 156px;
  background-color: #d1d1e0;
  border-radius: 50%;
}

.content__tool img {
  width: 100px;
  height: 100px;
}

.content__tool-title {
  padding-top: 18px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #010455;
}

/* Slider */
.slider {
  padding-top: 100px;
}

.swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  width: 1200px;
  height: 500px;
}

.swiper-pagination-bullet {
  width: 100px;
  height: 4px;
  background-color: #000;
  border-radius: 0;
  opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 15px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 50px;
}

.swiper-pagination-bullet-active {
  height: 6px;
  background-color: #fff;
}

/* ////////////////////////////////// */
