@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&family=Sen:wght@400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100%;
}
header {
  background-color: rgba(41, 74, 124, 0.72);
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
  padding: 20px 0;
}

nav ul {
  float: right;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 16px 16px;
  display: block;
}

nav ul li a:hover {
  content: "";
  /* display: block;
  border-bottom: 2px solid rgba(225, 202, 150, 0) 100%; */
}

nav ul li ul {
  position: absolute;
  display: none;
  background-color: rgba(41, 74, 124, 0.72);
  border-radius: 0 0 5px 5px;
}

nav ul li:hover ul {
  display: block;
  z-index: 5;
}

nav ul li ul li {
  line-height: 1;
  width: 200px;
  border-radius: 5px;
  padding: 6px;
}

nav ul li ul li a {
  padding: 10px 16px;
  font-weight: 400;
  font-size: 16px;
}

nav ul li ul li a:hover {
  background-color: #91bafe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ////////////////////////////////// */

.nav__right {
  display: flex;
  position: fixed;
  right: 0;
  padding-top: 175px;
}

.nav__items {
  background-color: #afc6ec;
  padding: 18px;
}

.nav__items:hover {
  position: relative;
  background-color: #91bafe;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15), -3px -3px 4px rgba(0, 0, 0, 0.15);
  transition: 0.2s all;
}

.nav__item {
  width: 34px;
  height: 34px;
}

/* Search */
.search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  transition: 0.5s;
}

.search:hover {
  width: 240px;
}

.search input {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  padding: 10px 25px;
  outline: none;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  background: #91bafe;
  border-radius: 30px;
  background: linear-gradient(90deg, #afc6ec, transparent) #91bafe;
}

.btn-search {
  position: absolute;
  right: 0px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

/* ////////////////////////////////// */
.main {
  padding-top: 34px;
}

/* Home Content */
.home {
  width: 1200px;
  height: 500px;
  color: #fff;
}

.home__info {
  position: absolute;
  padding-top: 132px;
  padding-left: 68px;
}

.home__title {
  font-size: 50px;
  font-weight: 800;
  max-width: 482px;
  line-height: 60px;
  padding-bottom: 22px;
}

.home__text {
  max-width: 458px;
  font-size: 20;
  font-weight: 400;
  line-height: 24px;
}

/* Tools */

.tools {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}

.content__tool {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 156px;
  height: 156px;
  background-color: #d1d1e0;
  border-radius: 50%;
  transition: 0.5s;
}

.content__tool:hover {
  box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.25), 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.content__tool img {
  width: 100px;
  height: 100px;
}

.content__tool-title {
  padding-top: 18px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #010455;
}

/* ////////////////////////////////// */
/* License */
.license {
  padding-top: 80px;
}

.license__title,
.stay__tuned {
  width: 1200px;
  height: 70px;
  background: #d1d1e0;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.license__title h2,
.stay__tuned h2 {
  font-family: "El Messiri";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 94px;
}

.license__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-top: 50px;
}

.license__content-rule {
  padding-left: 50px;
  max-width: 355px;
}

.license__content-link {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #010455;
}

.license__content-rule p,
.license__content-border-area p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 38px;
}

.license__content-rule h3,
.license__content-border-area h3 {
  display: flex;
  justify-content: center;
  font-family: "El Messiri";
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 38px;
}

.license__img {
  filter: drop-shadow(5px 5px 50px rgba(0, 0, 0, 0.6));
  border-radius: 50px;
  width: 350px;
  height: 172px;
  margin-top: 40px;
}

.license__content-border-area {
  max-width: 350px;
  padding-right: 50px;
}

.license__content-border-area a {
  color: #000;
}

.license__buttom {
  display: flex;
  justify-content: center;
}

.license__buttom button {
  border: none;
  position: relative;
  width: 188px;
  height: 65px;
  border-radius: 20px;
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
  cursor: pointer;
  background: linear-gradient(
    180deg,
    #afc6ec 0%,
    rgba(145, 186, 254, 0.76) 36.99%,
    rgba(1, 4, 85, 0.73) 100%
  );
}

.license__buttom button:hover {
  text-decoration-line: underline;
  filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.4));
}

/* Slider */
.slider {
  padding-top: 80px;
}

.swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  width: 1200px;
  height: 500px;
}

.swiper-pagination-bullet {
  width: 100px;
  height: 4px;
  background-color: #000;
  border-radius: 0;
  opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 15px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 50px;
}

.swiper-pagination-bullet-active {
  height: 6px;
  background-color: #fff;
}

/* ////////////////////////////////// */
/* Stay__tuned */
.stay {
  padding-top: 100px;
}

.slide__content {
  margin: 0 40px;
  background: rgba(219, 220, 247, 0.59);
}

.card {
  width: 301px;
}

.image__content,
.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.card__image {
  position: relative;
  width: 233px;
  height: 233px;
  margin: 16px 34px 7px 34px;
}

.card__image .card__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slide__container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.description {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.button {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  /* width: 65px; */
  /* height: 19px; */
  background: #e6e7f6;
  border: 1px solid #000000;
  padding: 4px 7px;
  margin: 10px 0 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
